
<h3>CONDITIONS OF USE</h3>
<div class="scrolling_box">
  <p> In using this system, you agree that this system, its owners(s), maintainers(s) or developers(s) are not responsible or in any way liable for the continuity of or interruptions to the service, the currency, accuracy or completeness of information provided on it, or for any errors, faults, omissions or inaccuracies in the advice that it provides, whether arising from negligence or otherwise howsoever or for the consequences (direct or indirect) arising therefrom.</p>
  <p>This system is offered "as is" and "as available".</p>
  <p>You use this system completely at your own risk. This system, its owners(s), maintainers(s) or developers(s) accepts no liability for any interference to a user's computer system, software or data occurring in connection with or relating to its use. You are encouraged to take appropriate and adequate precautions such that whatever you select from this website is free of viruses or other contamination that could damage your computer system, software or data.
  </p>
  <p>No warranty is offered by this system, its owner(s), maintainer(s) or developer(s).</p>
  <p>All responsibility is negatived by this system, its owner(s), maintainer(s) and developer(s).</p>
  <p> This software is a prototype.  It is not intended to be used in real medical situations.<br/> This software may not function correctly.<br/>
  All data entered will be sent using unencrypted email. This means that it could be read by a third party.</p>
  <p>By using this system, you agree to the above terms and conditions.</p>
</div>

